In [5]:
import pandas as pd
import numpy as np

In [6]:
df= pd.read_csv(r"D:\dell\Internship\dataSets\3_Bird Strikes data.xlsx - Bird Strikes.csv")

In [7]:
df

,Record ID,Aircraft: Type,Airport: Name,Altitude bin,Aircraft: Make/Model,Wildlife: Number struck,Wildlife: Number Struck Actual,Effect: Impact to flight,FlightDate,Effect: Indicated Damage,...,Remains of wildlife sent to Smithsonian,Remarks,Wildlife: Size,Conditions: Sky,Wildlife: Species,Pilot warned of birds or wildlife?,Cost: Total $,Feet above ground,Number of people injured,Is Aircraft Large?
0,202152,Airplane,LAGUARDIA NY,> 1000 ft,B-737-400,Over 100,859,Engine Shut Down,11/23/00 0:00,Caused damage,...,False,FLT 753. PILOT REPTD A HUNDRED BIRDS ON UNKN T...,Medium,No Cloud,Unknown bird - medium,N,"30,736","1,500",0,Yes
1,208159,Airplane,DALLAS/FORT WORTH INTL ARPT,< 1000 ft,MD-80,Over 100,424,NaN,7/25/01 0:00,Caused damage,...,False,102 CARCASSES FOUND. 1 LDG LIGHT ON NOSE GEAR ...,Small,Some Cloud,Rock pigeon,Y,0,0,0,No
2,207601,Airplane,LAKEFRONT AIRPORT,< 1000 ft,C-500,Over 100,261,NaN,9/14/01 0:00,No damage,...,False,FLEW UNDER A VERY LARGE FLOCK OF BIRDS OVER AP...,Small,No Cloud,European starling,N,0,50,0,No
3,215953,Airplane,SEATTLE-TACOMA INTL,< 1000 ft,B-737-400,Over 100,806,Precautionary Landing,9/5/02 0:00,No damage,...,False,"NOTAM WARNING. 26 BIRDS HIT THE A/C, FORCING A...",Small,Some Cloud,European starling,Y,0,50,0,Yes
4,219878,Airplane,NORFOLK INTL,< 1000 ft,CL-RJ100/200,Over 100,942,NaN,6/23/03 0:00,No damage,...,False,NO DMG REPTD.,Small,No Cloud,European starling,N,0,50,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25553,321151,Airplane,REDDING MUNICIPAL,> 1000 ft,EMB-120,1,1,NaN,12/30/11 0:00,No damage,...,False,DUCK? NO DMG REPTD.,Large,Overcast,Unknown bird - large,N,0,"1,500",0,No
25554,319677,Airplane,ORLANDO INTL,< 1000 ft,A-321,1,1,NaN,12/30/11 0:00,No damage,...,False,NaN,Small,Some Cloud,Tree swallow,Y,0,0,0,No
25555,319680,NaN,NaN,NaN,EC-135,NaN,1,NaN,NaN,No damage,...,False,STRUCK BIRD ON RT FRONT DURING T/O. BIRD REPTD...,NaN,No Cloud,Unknown bird - small,NaN,0,NaN,0,NaN
25556,319679,Airplane,DETROIT METRO WAYNE COUNTY ARPT,< 1000 ft,B-757-200,1,1,NaN,12/31/11 0:00,No damage,...,False,PILOTS REPORT STRIKING UNKNOWN BIRD ON RWY 21L...,Medium,Some Cloud,Unknown bird - medium,Y,0,0,0,Yes
25557,319593,Airplane,ABRAHAM LINCOLN CAPITAL ARPT,< 1000 ft,B-737-400,1,1,NaN,12/31/11 0:00,Caused damage,...,False,"HIT CENTER OF RADOME, CAVING IN ABOUT 12"". RAD...",Medium,No Cloud,Red-tailed hawk,N,0,0,0,Yes

In [8]:
df.shape

(25558, 26)

In [9]:
df.ndim

2

In [10]:
df.describe()

           Record ID  Wildlife: Number Struck Actual  Number of people injured
count   25558.000000                    25558.000000              25558.000000
mean   253916.085609                        2.691525                  0.001056
std     38510.453382                       12.793975                  0.050420
min      1195.000000                        1.000000                  0.000000
25%    225783.750000                        1.000000                  0.000000
50%    248749.000000                        1.000000                  0.000000
75%    269168.750000                        1.000000                  0.000000
max    321909.000000                      942.000000                  6.000000

In [11]:
df.isnull().sum()

Record ID                                      0
Aircraft: Type                               129
Airport: Name                                129
Altitude bin                                 129
Aircraft: Make/Model                           0
Wildlife: Number struck                      129
Wildlife: Number Struck Actual                 0
Effect: Impact to flight                   23480
FlightDate                                   129
Effect: Indicated Damage                       0
Aircraft: Number of engines?                 267
Aircraft: Airline/Operator                   129
Origin State                                 449
When: Phase of flight                        129
Conditions: Precipitation                  23543
Remains of wildlife collected?                 0
Remains of wildlife sent to Smithsonian        0
Remarks                                     4771
Wildlife: Size                               129
Conditions: Sky                                0
Wildlife: Species                              0
Pilot warned of birds or wildlife?           129
Cost: Total $                                  0
Feet above ground                            129
Number of people injured                       0
Is Aircraft Large?                           129
dtype: int64

In [12]:
df1=df.copy()

In [13]:
df1.drop(['Effect: Impact to flight','Conditions: Precipitation','Remarks'],axis = 1, inplace = True)

In [14]:
df1

,Record ID,Aircraft: Type,Airport: Name,Altitude bin,Aircraft: Make/Model,Wildlife: Number struck,Wildlife: Number Struck Actual,FlightDate,Effect: Indicated Damage,Aircraft: Number of engines?,...,Remains of wildlife collected?,Remains of wildlife sent to Smithsonian,Wildlife: Size,Conditions: Sky,Wildlife: Species,Pilot warned of birds or wildlife?,Cost: Total $,Feet above ground,Number of people injured,Is Aircraft Large?
0,202152,Airplane,LAGUARDIA NY,> 1000 ft,B-737-400,Over 100,859,11/23/00 0:00,Caused damage,2,...,False,False,Medium,No Cloud,Unknown bird - medium,N,"30,736","1,500",0,Yes
1,208159,Airplane,DALLAS/FORT WORTH INTL ARPT,< 1000 ft,MD-80,Over 100,424,7/25/01 0:00,Caused damage,2,...,False,False,Small,Some Cloud,Rock pigeon,Y,0,0,0,No
2,207601,Airplane,LAKEFRONT AIRPORT,< 1000 ft,C-500,Over 100,261,9/14/01 0:00,No damage,2,...,False,False,Small,No Cloud,European starling,N,0,50,0,No
3,215953,Airplane,SEATTLE-TACOMA INTL,< 1000 ft,B-737-400,Over 100,806,9/5/02 0:00,No damage,2,...,True,False,Small,Some Cloud,European starling,Y,0,50,0,Yes
4,219878,Airplane,NORFOLK INTL,< 1000 ft,CL-RJ100/200,Over 100,942,6/23/03 0:00,No damage,2,...,False,False,Small,No Cloud,European starling,N,0,50,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25553,321151,Airplane,REDDING MUNICIPAL,> 1000 ft,EMB-120,1,1,12/30/11 0:00,No damage,2,...,False,False,Large,Overcast,Unknown bird - large,N,0,"1,500",0,No
25554,319677,Airplane,ORLANDO INTL,< 1000 ft,A-321,1,1,12/30/11 0:00,No damage,2,...,False,False,Small,Some Cloud,Tree swallow,Y,0,0,0,No
25555,319680,NaN,NaN,NaN,EC-135,NaN,1,NaN,No damage,NaN,...,False,False,NaN,No Cloud,Unknown bird - small,NaN,0,NaN,0,NaN
25556,319679,Airplane,DETROIT METRO WAYNE COUNTY ARPT,< 1000 ft,B-757-200,1,1,12/31/11 0:00,No damage,2,...,False,False,Medium,Some Cloud,Unknown bird - medium,Y,0,0,0,Yes
25557,319593,Airplane,ABRAHAM LINCOLN CAPITAL ARPT,< 1000 ft,B-737-400,1,1,12/31/11 0:00,Caused damage,2,...,True,False,Medium,No Cloud,Red-tailed hawk,N,0,0,0,Yes

In [15]:
df1.dropna(subset = ['Aircraft: Type','Airport: Name', 'Altitude bin','Wildlife: Number struck','FlightDate',
                     'Aircraft: Number of engines?','Aircraft: Airline/Operator','Origin State','When: Phase of flight','Wildlife: Size',
                     'Pilot warned of birds or wildlife?','Feet above ground','Is Aircraft Large?'],inplace=True)

In [16]:
df1.isnull().sum()

Record ID                                  0
Aircraft: Type                             0
Airport: Name                              0
Altitude bin                               0
Aircraft: Make/Model                       0
Wildlife: Number struck                    0
Wildlife: Number Struck Actual             0
FlightDate                                 0
Effect: Indicated Damage                   0
Aircraft: Number of engines?               0
Aircraft: Airline/Operator                 0
Origin State                               0
When: Phase of flight                      0
Remains of wildlife collected?             0
Remains of wildlife sent to Smithsonian    0
Wildlife: Size                             0
Conditions: Sky                            0
Wildlife: Species                          0
Pilot warned of birds or wildlife?         0
Cost: Total $                              0
Feet above ground                          0
Number of people injured                   0
Is Aircraft Large?                         0
dtype: int64

In [17]:
df1.describe()

           Record ID  Wildlife: Number Struck Actual  Number of people injured
count   24747.000000                    24747.000000              24747.000000
mean   254485.775165                        2.689255                  0.000849
std     35581.910360                       12.506021                  0.047986
min    200011.000000                        1.000000                  0.000000
25%    225827.000000                        1.000000                  0.000000
50%    248552.000000                        1.000000                  0.000000
75%    268974.500000                        1.000000                  0.000000
max    321909.000000                      942.000000                  6.000000

In [18]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24747 entries, 0 to 25557
Data columns (total 23 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Record ID                                24747 non-null  int64
 1   Aircraft: Type                           24747 non-null  object
 2   Airport: Name                            24747 non-null  object
 3   Altitude bin                             24747 non-null  object
 4   Aircraft: Make/Model                     24747 non-null  object
 5   Wildlife: Number struck                  24747 non-null  object
 6   Wildlife: Number Struck Actual           24747 non-null  int64
 7   FlightDate                               24747 non-null  object
 8   Effect: Indicated Damage                 24747 non-null  object
 9   Aircraft: Number of engines?             24747 non-null  object
 10  Aircraft: Airline/Operator               24747 non-null  object
 11  Origin State                             24747 non-null  object
 12  When: Phase of flight                    24747 non-null  object
 13  Remains of wildlife collected?           24747 non-null  bool
 14  Remains of wildlife sent to Smithsonian  24747 non-null  bool
 15  Wildlife: Size                           24747 non-null  object
 16  Conditions: Sky                          24747 non-null  object
 17  Wildlife: Species                        24747 non-null  object
 18  Pilot warned of birds or wildlife?       24747 non-null  object
 19  Cost: Total $                            24747 non-null  object
 20  Feet above ground                        24747 non-null  object
 21  Number of people injured                 24747 non-null  int64
 22  Is Aircraft Large?                       24747 non-null  object
dtypes: bool(2), int64(3), object(18)
memory usage: 4.2+ MB

In [19]:
df1.to_excel('bird_strike_clean.xlsx',index = False)